*, *::before, *::after {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.zipper {
    width: 100%;
    height: 100%;
    position: relative;
    color: transparent;
    overflow: hidden;
}

.left {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.right {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

li {
    width: 100%;
    position: relative;
    background-color: #000ABF;
}

.left li {
    -webkit-box-shadow: inset -50px 0 0 #0078D7;
    -moz-box-shadow: inset -50px 0 0 #0078D7;
    box-shadow: inset -50px 0 0 #001387;
}

.right li {
    -webkit-box-shadow: inset  50px 0 0 #3498db;
    -moz-box-shadow: inset 50px 0 0 #3498db;
    box-shadow: inset 50px 0 0 #001387;
}

li::after {
    width: 50px;
    height: 50%;
    content: '';
    display: block;
    background: #bdc3c7;
    z-index: 1;
}

.left li::after {
    position: absolute;
    top: 0;
    right: 0%;
    transform: translateX(25%);
}

.right li::after {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-25%);
}

.left li.open {
    transform: translateX(-100px);
}

.right li.open {
    transform: translateX(100px);
}

.center {
    width: 100px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.slider {
    width: 100px;
    height: 100px;
}

.body {
    width: 100px;
    height: 30px;
    background-color: yellow;
}

.body::before {
    display: block;
    content: '';
    width: 100px;
    height: 0;
    border-top: 50px solid yellow;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    top: 30px;
}

.body::after {
    display: block;
    content: '';
    width: 20px;
    height: 80px;
    background-color: orange;
    position: absolute;
    left: 50px;
    transform: translateX(-50%);
}

.handle {
    width: 50px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
}

.ring {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    -webkit-box-shadow: inset 0 0 0 14px orange;
    box-shadow: inset 0 0 0 14px orange;
}

.grip {
    width: 50px;
    height: 0;
    border-bottom: 90px solid orange;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    /* width: 50px;
    height: 80px;
    background-color: orange; */
}
