*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

/* area */
.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    color: transparent;
    overflow: hidden;
}

.left {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.right {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.center {
    width: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    z-index: 3;
}

/* element */
li { 
    width: 100%;
    position: relative;
}

.left li {
    background-color: blue;
}

.left li::after {
    width: 50px;
    height: 50%;
    content: '';
    display: block;
    background: blue;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(50%, -50%);
}

.left li.move {
    transform: translateX(-100px);
}

.right li {
    background-color: red;
}

.right li::after {
    display: block;
    content: '';
    width: 50px;
    height: 50%;
    background: red;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}

.right li.move {
    transform: translateX(100px);
}

/* slider */
.zipper{
    appearance: none;
    -webkit-appearance: none;
}

.zipper::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
}

.zipper:focus,
.zipper:active {
    outline: none;
}

.zipper {
    width: 100%;
    height: 50px;
    background: transparent;
    overflow: hidden;
    border-radius: 500px;
}

.zipper::-webkit-slider-thumb {
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    background: #eaeaea;
}
